.hero {
  background-image: url("images/jaxhomepage.jpg");
  opacity: 0.75;
}
body {
  background-image: url("images/jaxhomepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10%;
}
.welcome-page-name {
  font-family: "Brush Script MT";
  text-align: center;
  font-variant: small-caps;
  color: #34e7e4;
  font-weight: 600;
  font-size: 400px;
  text-shadow: 10px 10px 1px black;
  vertical-align: middle;
}

.row {
  align-content: center;
  text-align: center;
}

.button {
  font-size: 40px;
  margin: 50px;
  border-radius: 10px;
  background-color: whitesmoke;
  font-family: cursive;
  cursor: pointer;
  padding: 20px;
}
.nav-item {
  vertical-align: center;
}

.nav-link-text {
  text-decoration: none;
  font-weight: 650;
  font-size: 40px;
  color: black;
  opacity: 1;
}

.wrapper {
  font-family: cursive;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 5px;
  text-align: center;
  margin-top: auto;
}

.grid-item {
  background-color: aliceblue;
  opacity: 0.75;
  border-color: black;
  border-style: groove;
}
.grid-item-1 {
  grid-column: 1;
  grid-row: 1;
}

.grid-item-2 {
  grid-column: 2;
  grid-row: 1;
}

.grid-item-3 {
  grid-column: 1;
  grid-row: 2;
}

.grid-item-4 {
  grid-column: 2;
  grid-row: 2;
}

/*---Picture page styles---*/

h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 125px;
}

body {
  background-color: #eee;
}
.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0, 0, 0, 0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-height: 1350px;
  margin: auto;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: repeat;
  margin: 130px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.05);
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
