body {
  background-image: url("images/jaxhomepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10%;
}
.welcome-page-name {
  font-family: "Brush Script MT";
  text-align: center;
  font-variant: small-caps;
  color: #34e7e4;
  font-weight: 600;
  font-size: 400px;
  text-shadow: 10px 10px 1px black;
  vertical-align: middle;
}

.row {
  align-content: center;
  text-align: center;
}

.button {
  font-size: 40px;
  margin: 50px;
  border-radius: 10px;
  background-color: whitesmoke;
  font-family: cursive;
  cursor: pointer;
  padding: 20px;
}
